* {
  margin: 0;
  padding: 0;
  /* Colors */
  --primary_dark: #282c34;
  --primary_light: #f4f3ee;
  --border_light: #f4f3ee;
  --border_dark: #282c34;
  font-family: "Nokora", sans-serif;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main Content */
.content {
  text-align: left;
  position: absolute;
  top: 0;
  left: 8%;
  bottom: 6%;
  right: 0;
  padding: 5%;
  background-color: #444;
}

.content h1 {
  color: var(--primary_light);
  font-size: 48px;
}

/* Side Navigation */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8%;
  background-color: var(--primary_dark);
  display: flex;
}
.block-column {
  flex: 1;
  margin: 25% auto;
  display: flex;
  flex-wrap: wrap;
  max-height: 80%;
}

.block-column button {
  margin: auto;
  flex: 1 1 100%;
  background-color: #282c34;
  border: none;
}

.block-column button:active {
  padding: 2%;
}

.block-column button:active img {
  max-width: 24%;
}

.block-column img {
  max-width: 25%;
}

.block-column h3 {
  color: var(--primary_light);
}

/* Artist Card Stylings */
.card {
  background-color: var(--primary_dark);
  color: var(--border_light);
  border: 2px solid var(--border_dark);
  width: 200px;
  height: 275px;
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--border_light);
}

.card img {
  flex: 1 1 100%;
  max-height: 100%;
  max-width: 100%;
}

.card-info {
  flex: 1;
}
.card-info h3 {
  flex: 1;
  font-weight: 400;
}
.card-info h4 {
  flex: 1;
  font-weight: 300;
}

.transport-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1% 0;
  width: 100%;
  background-color: var(--primary_dark);
}

.transport {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.footer-left {
  flex: 1 1 30%;
  display: flex;
  text-align: left;
}

.footer-left h4 {
  flex: 1;
  margin: auto;
  color: var(--primary_light);
  align-content: center;
}

.footer-middle {
  flex: 1 1 30%;
  display: flex;
}
.footer-middle button {
  flex: 1 1 3%;
  background-color: rgb(0, 0, 0, 0%);
  border: none;
}

.footer-middle button:active img {
  max-width: 40%;
}

.footer-middle img {
  max-width: 45%;
}

.footer-right {
  flex: 1 1 30%;
  display: flex;
}

.footer-right label {
  margin-left: 60%;
  flex: 1 1 5%;
}

.footer-right input {
  flex: 1 1 50%;
}

.slider {
  margin: auto;
  outline: none;
}
