/* Global Colors */
.dark-bg {
  background-color: #22272e;
  color: white;
}

.card-bg {
  background-color: #41454d;
  color: white;
}

.no-margin {
  margin: 0;
}

.collection {
  border: none;
  margin: 0;
}

.collection.with-header .collection-header {
  background-color: #41454d;
  overflow: hidden;
}

.collection .collection-item {
  text-decoration: none;
  background-color: #41454d;
  color: white;
}

.collection .collection-item:hover {
  background-color: #52565e;
}

.collection .collection-item:nth-child(odd) {
  text-decoration: none;
  background-color: #63676f;
  color: white;
}
.collection .collection-item:nth-child(odd):hover {
  background-color: #74787f;
}

.collection .collection-item a {
  text-decoration: none;
  color: white;
}

.block-item {
  margin-top: 1%;
  height: 25em;
}

.player {
  margin-top: 5%;
}

.now-playing {
  padding: 2%;
  margin: 0;
}

.overflow {
  overflow-y: scroll;
}

.track-option img {
  padding: 5%;
  max-width: 50%;
}

#button-container img {
  width: 35px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  height: 80%;
}

#sidebar {
  position: fixed;
  padding-top: 2%;
  width: 5%;
  height: 100%;
  left: 0;
  bottom: 0;
}

#content {
  position: relative;
  left: 6%;
  bottom: 0;
}

.album-art {
  margin-top: 2%;
  max-width: 80%;
}

#queue {
  margin: 0;
  padding: 1%;
  overflow: hidden;
  height: 25em;
}

#playlist {
  overflow: auto;
  padding: 0;
  margin-bottom: 2%;
  height: 15em;
}
footer {
  z-index: 99999;
}
@media only screen and (max-width: 600px) {
  #sidebar {
    position: relative;
  }
  .footer-item {
    text-align: center;
  }
}
