<li class="row collection-item valign-wrapper">
  <a href="/api/albums/{{id}}" class="col s8">
    <h6>{{title}}</h6>
  </a>
  <a href="#" class="col s2 track-option">
    <img id="play-img" src="/images/icon-add-track.png" />
  </a>
  <a href="#" class="col s2 track-option">
    <img id="play-img" src="/images/transport_icons/PlayIcon.png" />
  </a>
</li>